{% extends "layout.html" %}
{% block content %}
<h2>Dashboard</h2>
<a href="/add-cargo" class="btn btn-success mb-3">Add New Cargo Shipment</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Description</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for cargo in shipments %}
        <tr>
            <td>{{ cargo._id }}</td>
            <td>{{ cargo.shipment_type }}</td>
            <td>{{ cargo.origin }}</td>
            <td>{{ cargo.destination }}</td>
            <td>{{ cargo.description }}</td>
            <td>{{ cargo.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
